
/* * {
  box-sizing: border-box;
} */

/* body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
} */

.App {
  text-align: center;
 
}

.header {
  height: auto;
  display: flex;
  align-items: center;
  color: #fff;
}

.comics_container {
  margin-top: 100px;
}


/* .content {
  max-width: 40rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
} */

.header-video {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  
}


/* .header-overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  
} */


.video {
  position: absolute;
  height: 100%;
  width: 100vw;
  object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #353c52;
  z-index: 1;
  opacity: .80;
}


.z-99 {
  z-index: 999;
}


@media (max-width: 960px) {
  .content {
    padding: 0 3rem 0 3rem;
  }
}



